:root {
    --accent-color:  #2390cf;
    --special-color: #eeb241;
    --ceiling-color: #ffffff;
    --high-color:    #fffeff;
    --medium-color:  #e1e7ef;
    --low-color:     #636262;
    --floor-color:   #000000;

    --aside-svg-shadow:   0.1em 0.1em 0.1em rgba(0,0,0,1);
    --aside-text-shadow:  0.1em 0.1em 0.1em rgba(0,0,0,0.8);
    --aside-svg-glow:     0 0 0.3em var(--high-color);
    --aside-text-glow:    0 0 0.2em var(--high-color);
    --action-box-shadow:  0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    --action-text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,1);
    --action-box-glow:    0 0 0.2em var(--special-color);
    --action-text-glow:   0 0 0.1em var(--high-color);

    --dark-accent-color:  #eeb241;
    --dark-special-color: #2390cf;
    --dark-ceiling-color: #ffffff;
    --dark-high-color:    #333333;
    --dark-medium-color:  #222222;
    --dark-low-color:     #cccccc;
    --dark-floor-color:   #000000;

    --dark-aside-svg-shadow:   0.1em 0.1em 0.1em rgba(0,0,0,0.5);
    --dark-aside-text-shadow:  0.1em 0.1em 0.1em rgba(0,0,0,0.3);
    --dark-aside-svg-glow:     0 0 0.2em var(--dark-high-color);
    --dark-aside-text-glow:    0 0 0.2em var(--dark-high-color);
    --dark-action-box-shadow:  0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    --dark-action-text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
    --dark-action-box-glow:    0 0 0.2em var(--dark-special-color);
    --dark-action-text-glow:   0 0 0.1em var(--dark-high-color);

    --base-transition: all 0.3s  ease-out;
    --fast-transition: all 0.15s ease-out;

    color-scheme: light;
}

* {
    box-sizing: border-box;
    cursor: default;
}

/* * * * * * * * *\
 * Base Elements *
\* * * * * * * * */

html {
    margin: 0;
    padding: 0;
}

body {
    align-items: stretch;
    color: var(--low-color);
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vmin;
    justify-content: flex-start;
    margin: 0;
    min-height: 100vh;
    text-shadow: 0.05em 0.05em 0.2em rgba(0,0,0,0.4);
    padding: 0;
}

a, a *,
button, button * {
    cursor: pointer;
    transition: var(--fast-transition);
}

a:link, a:visited {
    color: var(--accent-color);
    text-decoration: none;
    text-shadow: 0.05em 0.05em 0.1em var(--floor-color);
}

a:hover, a:focus, a:active {
    color: var(--special-color);
    text-decoration: underline;
}

button {
    cursor: pointer;
}

svg {
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.5));
    height: 1.5em;
    transition: var(--fast-transition);
    width: 1.5em;
}

svg path {
    fill: var(--accent-color);
    transition: var(--base-transition);
}

/* * * * * * * * *\
 *  Navigation   *
\* * * * * * * * */

aside {
    background-color: var(--accent-color);
    color: var(--high-color);
    text-shadow: var(--aside-text-shadow);
    transition: var(--base-transition);
    width: 15em;
}

aside h1 {
    cursor: pointer;
    position: sticky;
    margin: 0;
    padding: 0.5em 0 0.5em 0.5em;
    top: 0;
    white-space: nowrap;
}

aside h1 * {
    cursor: pointer;
}

aside h1 svg {
    vertical-align: bottom;
}

aside h1:hover {
    text-shadow: var(--aside-text-glow);
}

aside h1:hover svg {
    filter: drop-shadow(var(--aside-svg-glow));
}

aside nav {
    position: sticky;
    top: 4em;
}

aside nav a {
    display: block;
    padding: 0 2em 0.5em;
    transition: var(--fast-transition);
}

aside nav a:link,
aside nav a:visited {
    color: var(--high-color);
    text-decoration: none;
}

aside nav a:hover,
aside nav a:focus,
aside nav a:active {
    color: var(--high-color);
    text-decoration: none;
    text-shadow: var(--aside-text-glow);
    transform: scale(1.1);
}

aside nav a:hover svg,
aside nav a:focus svg,
aside nav a:active svg {
    filter: drop-shadow(var(--aside-svg-glow));
}

aside svg {
    filter: drop-shadow(var(--aside-svg-shadow));
    vertical-align: middle;
}

aside svg path {
    fill: var(--high-color);
}

aside nav #settings {
    margin-top: 2em;
}

aside nav a span {
    transition: var(--fast-transition);
}

aside.collapsed {
    width: 4em;
}

aside.collapsed h1 {
    padding: 0;
    text-align: center;
}

aside.collapsed nav a {
    padding: 0 0 2em;
    text-align: center;
}

aside.collapsed span {
    display: none;
}

/* * * * * * * * *\
 *     Main      *
\* * * * * * * * */

main {
    align-items: stretch;
    background-color: var(--medium-color);
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
}

main a svg {
    transition: var(--base-transition);
}

main a:hover svg,
main a:focus svg,
main a:active svg {
    transform: rotate(360deg) scale(1.5);
    filter: drop-shadow(0 0 0.3em var(--special-color));
}

main a:hover svg path,
main a:focus svg path,
main a:active svg path {
    fill: var(--special-color);
}

/* * * * * * * * *\
 *  Page Header  *
\* * * * * * * * */

header {
    background-color: var(--high-color);
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
    padding-bottom: 0.5em;
}

header > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header > div:last-child {
    align-items: flex-end;
}

/* * * * * * * * *\
 *  Search Form  *
\* * * * * * * * */

header form {
    align-items: flex-start;
    background-color: var(--medium-color);
    border-radius: 1.25em;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    display: flex;
    flex: 1;
    justify-content: flex-start;
    margin: 1.5em;
    overflow: hidden;
    padding: 0.4em;
}

header form button {
    background-color: var(--medium-color);
    border: none;
    height: 2em;
}

header form input {
    background-color: var(--medium-color);
    border: none;
    cursor: text;
    flex: 1;
    height: 2em;
}

/* * * * * * * * *\
 *   Controls    *
\* * * * * * * * */

header #controls {
    margin: 1em;
}

header #controls a,
header #controls a:link,
header #controls a:visited,
header #controls a:hover,
header #controls a:focus,
header #controls a:active {
    text-decoration: none;
}

header #controls a svg {
    height: 2.2em;
    margin-left: 1em;
    width: 2.2em;
}

header #controls a.off,
header #controls a.off * {
    cursor: default;
}

header #controls a.off:hover svg,
header #controls a.off:focus svg,
header #controls a.off:active svg {
    transform: none;
}

header #controls a.off svg {
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.5)) !important;
}

header #controls a.off svg path {
    fill: var(--medium-color) !important;
}

/* * * * * * * * *\
 * Header Title  *
\* * * * * * * * */

header #welcome {
    flex: 1;
    margin: 1em 0 0 1em;
}

header #welcome h2 {
    flex: 1;
    margin: 0;
    padding: 0;
    text-shadow: 0.07em 0.07em 0.1em rgba(0,0,0,0.5);
    white-space: nowrap;
}

header #welcome h2 img {
    filter: drop-shadow(0.1em 0.1em 0.05em rgba(0,0,0,0.5));
    margin-right: 0.1em;
    height: 1em;
    vertical-align: top;
    width: auto;
}

/* * * * * * * * *\
 *    Actions    *
\* * * * * * * * */

header #actions {
    margin: 0 1em 0 0;
}

header #actions a,
header #actions a:link,
header #actions a:visited {
    background-color: var(--accent-color);
    border-radius: 1.5em;
    box-shadow: var(--action-box-shadow);
    color: var(--high-color);
    display: inline-block;
    margin: 0;
    padding: 0.3em 0.8em;
    text-decoration: none;
    text-shadow: var(--action-text-shadow);
}

header #actions a:hover,
header #actions a:focus,
header #actions a:active {
    background-color: var(--special-color);
    box-shadow: var(--action-box-glow);
    text-shadow: var(--action-text-glow);
}

/* * * * * * * * *\
 *    Section    *
\* * * * * * * * */

section {
    display: flex;
    flex: 1;
    padding: 1em 2em;
}

section h3 {
    display: block;
    font-size: 1.1em;
    margin: 0 0 1em;
    white-space: nowrap;
}

section h4 {
    font-weight: normal;
    margin: 0 0 1em;
}

section #primary {
    flex: 3;
}

section #primary > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

section article {
    background-color: var(--high-color);
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    margin: 0;
    padding: 1em;
}

section #primary article {
    align-items: stretch;
    box-shadow:
            inset 0.5em 0 0 var(--special-color),
            0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* * * * * * * * *\
 *    Primary    *
\* * * * * * * * */

section #primary h4 img {
    filter: drop-shadow(0.1em 0.1em 0.05em rgba(0,0,0,0.8));
    height: 1em;
    margin-right: 0.2em;
    vertical-align: bottom;
    width: auto;
}

section #primary article > img {
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.3);
    height: auto;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
}

section #primary article p {
    flex: 1;
    font-size: 0.8em;
}

section #primary article div {
    text-align: right;
}

section #primary article a:link,
section #primary article a:visited,
section #primary article a:hover,
section #primary article a:focus,
section #primary article a:active {
}

section #primary article a {
    margin-left: 0.3em;
    text-decoration: none;
}

section #primary article svg {
    height: 1.5em;
    width: 1.5em;
}

/* * * * * * * * *\
 *   Secondary   *
\* * * * * * * * */

section #secondary {
    flex: 1;
    padding-left: 1em;
}

section #secondary article {
    padding: 0.5em 1em;
}

section #secondary h4 {
    font-size: 0.9em;
    margin: 0;
}

section #secondary #stylesheets {
    margin-top: 1em;
}

section #secondary p {
    border-bottom: 1px solid var(--medium-color);
    font-size: 0.7em;
    margin: 0.3rem 0 0.6rem;
    padding-bottom: 0.8rem;
}

section #secondary p:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/* * * * * * * * *\
 *  Page Footer  *
\* * * * * * * * */

footer {
    font-size: 0.7em;
    padding: 1em 0;
    text-align: center;
}

/* * * * * * * * *\
 * Media Queries *
\* * * * * * * * */

@media screen and (orientation: portrait) {
    section { flex-direction: column; }
    section #primary > div { grid-template-columns: 1fr; grid-template-rows: repeat(6, 1fr); }
    section #secondary #javascript { margin-top: 1em; }
}